body{ background:  rgb(196, 247, 247);

         }

        .generalContainer{ 
            margin: 0 auto;
            text-align: center;
            width: 1200px; 
            font-family: 'Times New Roman', Times, serif;
            font-size: 25px;
            background: #9ce7eb;

           }

           .myFirstContainer{
    
            outline: #09f1b7 solid 10px;
        
        
            background: rgb(2, 131, 252);
}
        .biographyContainer{
            margin-top: 40px;
            outline: #e3b0f3 solid 10px;
            text-align: center;
            width: 1200px; 
            font-family: 'Times New Roman', Times, serif;
            font-size: 25px;
            background: #f3b6d9;
        
}
        .NotFriendsContainer{
            margin: 0 auto;
            outline: #e3a1f7 solid 10px;
            text-align: justify;
            width: 1200px; 
            font-family: 'Times New Roman', Times, serif;
            font-size: 25px;
            background: #eea1ce;
            
        }
            .newContainer{
                margin: 0 auto;
                text-align: center;
                width: 1200px; 
                font-family: 'Times New Roman', Times, serif;
                font-size: 30px;
                background: #efdff3;
    

            }


            h1{ text-align: center;
                color: rgb(12, 135, 235);
                font-size: 40px;
                font-weight: 800;
                border: 2px solid rgb(8, 78, 25);
                outline: #0cdda9 solid 10px;
                margin:100px auto 0;
                padding: 20px;
                background: rgb(169, 204, 236);
             }
            
            h2{ text-align: center;
            color: rgb(67, 69, 233);
            margin: 50px auto 0;
            text-shadow: 2px 4px rgb(134, 148, 230);
            background: #12ebd9;
            }
            
            
            
            
            
            h3{ text-align: center;
            color: #12ebd9;
            margin: 100px auto 0;
            text-shadow: 2px 2px rgb(22, 24, 24);
            background: rgb(92, 165, 194);
            }
      
        footer{
            text-align: center;
        }
   